<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

</head>

<body>
  <header class="p-3 bg-primary-subtle">
    <div class="container d-flex justify-content-between">
      <div class="logo">
        <a href="./index.html" style="text-decoration: none; color: black;">
          <img src="../assets/img/logo.png" style="width: 35px;" alt="">
          <span>Academy</span>
        </a>
      </div>
      <nav>
        <a href="./student.html" class="p-1 px-3 me-2 btn btn-info shadow">Học viên</a>
        <a href="./employee.html" class="p-1 px-3 me-2 btn btn-info shadow">Nhân viên</a>
        <a href="./customer.html" class="p-1 px-3 me-2 btn btn-info shadow">Khách hàng</a>
      </nav>
    </div>
  </header>

  <section class="mt-3">
    <div class="container">
      <h3 class="mb-2">Danh sách khách hàng</h3>
      <button
          type="button"
          class="btn btn-warning text-white"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          id="addCus"
        >
          Thêm khách hàng
        </button>
      <table class="table mt-2">
        <thead class="bg-warning-subtle">
            <tr>
                <th>Mã</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Tên công ty</th>
                <th>Trị giá hóa đơn</th>
                <th>Đánh giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyCustomer">
            
        </tbody>
    </table>
    </div>
  </section>


  <!-- Modal -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Thêm khách hàng
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-1"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          placeholder="Nhập mã khách hàng"
          id="id"
          class="me-2 p-2 border rounded w-100"
        />
        <div class="text text-danger mb-2" id="error-id"></div>
        <div class="text text-danger mb-2" id="error-id-1"></div>
        <input
          type="text"
          placeholder="Nhập họ tên"
          id="fullName"
          class="me-2 p-2 border rounded w-100"
        />
        <div class="text text-danger mb-2" id="error-name"></div>
        <div class="text text-danger mb-2" id="error-name-1"></div>
        <input
          type="text"
          placeholder="Nhập email"
          id="email"
          class="me-2 p-2 border rounded w-100"
        />
        <div class="text text-danger mb-2" id="error-email"></div>
        <div class="text text-danger mb-2" id="error-email-1"></div>
        <input
          type="text"
          placeholder="Nhập địa chỉ"
          id="address"
          class="me-2 p-2 border rounded w-100"
        />
        <div class="text text-danger mb-2" id="error-address"></div>
        <input
          type="text"
          placeholder="Nhập tên công ty"
          id="companyName"
          class="me-2 p-2 border rounded w-100"
        />
        <div class="text text-danger mb-2" id="error-company"></div>
        <input
          type="number"
          placeholder="Nhập trị giá hóa đơn"
          id="invoiceValue"
          class="me-2 p-2 border rounded w-100"
        />
        <div class="text text-danger mb-2" id="error-value"></div>
        <div class="text text-danger mb-2" id="error-value-1"></div>
        <select id="rating" class="me-2 p-2 border rounded">
          <option>Chọn đánh giá</option>
          <option>Tốt</option>
          <option>Không tốt</option>
        </select>
        <div class="text text-danger mb-2" id="error-rating"></div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="close-2"
        >
          Đóng
        </button>
        <button type="button" class="btn btn-warning" id="btn-update">Cập nhật</button>
        <button type="button" class="btn btn-warning" id="btn-add">Thêm</button>
      </div>
    </div>
  </div>
</div>

  
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <script type="module" src="../controllers/customer.js"></script>
</body>

</html>